@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  /* 1 rem = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e3fdfd;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background: white;
  border-radius: 10rem;
}

.center h1 {
  text-align: center;
  padding: 0 0 2rem 0;
}

.center form {
  padding: 0 4rem;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  margin: 3rem 0;
}

.txt_field input {
  width: 100%;
  padding: 0 0.5rem;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.submit_button {
  width: 100%;
  height: 5rem;
  border: 0.1rem solid;
  background: #0096ff;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  font-weight: 70rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  padding: 0 5rem;
}

.submit_button:hover {
  background: #5800ff;
  color: white;
}

.signup_link {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.6rem;
}

.signup_link a {
  text-decoration: none;
  color: #0096ff;
}

.signup_link a:hover {
  color: #5800ff;
}

@media (max-width: 988px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
